*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  user-select:none
}
header,footer{
display: none;
}
.chargement{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
font-family: cursive;
color: blue;
background: black;
text-transform: uppercase;
animation: ro 1s linear infinite;
}
@keyframes ro{
from{color: blue;}
to{color: red;}
}
h1,h2,h3{
font-size: 6vw;
}
p,button{
font-size: 4vw;
padding: 4vw;
}
button{
  text-transform: uppercase;
  padding: 5px;
  margin-inline-start: 5px;
  border-radius: 10px;
  border: none;
}
li{
background: blue;
color: #000;
border-radius: 10px;
transition: 1s linear;
text-align: center;
}
li:hover{
background: black;
color:blue;
}
.menus{
margin-top: 50px;
  z-index: 1;
  background: url('f34a1eb6-4306-420f-9f93-2d753c322dc1.jpeg');
  position:fixed;
  width:60%;
  height: 110%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-position: 50% 20%;
  color:#fff;
  display: none;
transition:  1s linear;
}
.menusactive{display:block}
button:active{
  color:red
}
ul{
text-transform: uppercase;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 25px;
  translate: 0px 60px;
  margin-bottom: 70px
}
.vue{
  position:fixed;
  width:100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background:#000;
align-items: center;
  
}
.boutonTactile{
  height: 50px;
  width:50px;
  background: #000;
  border-radius: 15px;
  transition: 1s linear;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.boutonTactile div{
  width:30px;
  height: 2px;
  background: blue;

}
.boutonTactile div::after,
.boutonTactile div::before{
  content: '';
  position:absolute;
  width:30px;
  height: 2px;
  background: blue;
}
.boutonTactile div::before{
  top:15px
}
.boutonTactile div::after{
  bottom: 15px;
}
.Tactile div::before{
  top:50%;
  rotate:60deg;
transition: 1s linear;
}
.Tactile div::after{
  bottom: 50%;
  rotate:-60deg;
transition: 1s linear;
}
.logo{
  font-family: cursive;
  text-transform: uppercase;
  color:blue;
  margin-block-start: 5px;
margin-inline: 15px;
  
}

.hero-content,.about,.buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  
}
.hero{
  margin-top:-5px;
  color:white;
  background: #000;
  position:relative;
  height: 100vh
}
.hero-content{
  position:absolute;
  top:15%;
  margin-left: 10px;
}

.buttons button{
  display: flex ;
  align-items: center;
  background: blue;
  border:none
}
.Text{
  font-size: 20px;
  color:white;
  position : absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:10%;
  margin-left: 15px;
  margin-top: 50%;
  gap: 15px
}
.text{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: center
}
.text+button{
  border: none;
  background: blue
}
.about {
  margin-top: -5px;
  position: relative
}
.characters h2{
  background: black;
  color:blue;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 10px
}
img{width:100%;}
.cards{
  display: flex;
  flex-direction: column;
  
}
.cards .card img{
  height:300px;
  object-fit: cover;
}
.cards .card h2{
  background: blue;
  color:white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.cards .card{
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  background: blue;
  padding: 3px;
  border: 2px solid black;
  
}
.cards .card:not(.cards .card:first-child){
  margin-block:10px;
}
.gallery h2{
  background: black;
  color:blue;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.gallery-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(auto-fill,1fr)
}
.gallery-grid button{
  text-align: center;
  
}
.voirplus{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rebeccapurple;
  padding: 10px;
  margin-bottom: 10px;
}
.news{
  display: flex;
  flex-direction: column;
  align-items: center
}
.news-card{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  background: gainsboro;
  margin-block:20px;
  padding: 10px;
}
.news-card img{
  height: 100%;
  object-fit: cover;
}

.news-card h3{ color: blue;}
.news-card p{
  margin-inline:5px
}
form{
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  height: 300px
}
form h2{
  color:blue;
  text-transform: uppercase;
  margin-bottom: 10px
}
input:not(input[type="submit"]), textarea{
  width:70%;
  height: 30px;
  margin-left: 10px;
  outline-color: blue;
  color:blue;
  border:1px solid blue;
  border-radius: 5px;
  padding: 5px
}
input[type="submit"]{
  width:40%;
  height: 30px;
  margin-left: 10px;
  background: blue;
  border: none;
  border-radius: 10px;
}
a{
text-decoration: none;
width:100%;
height: 100%;
}
a:visited{
color: red;
}

@media (min-width:1024px){
  .gallery-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto-fill,1fr)
}
nav{
  z-index: 1;
  position:fixed ;
  display: flex;
  flex-direction: row;
  top: 0px;
  left: 0px;
  background: #000;
  width:100%;
padding: 10px;
height: 350px;
align-items: center;
flex-shrink: 0;

} 
nav button{color:blue}
.boutonTactile{
display: none;
background: black;
}
.vue{
  position: static;
width: 430px;
background: transparent;
}
  .menus{
   position: static;
    display: flex;
    flex-direction: row;
   align-items: center;
    background: transparent;
   gap: 10px;
flex-wrap: wrap;
height: 100%;
width: 100%;
  }
.menus button{translate: 50% 0%;}
ul{
z-index: 3;
   list-style: none;
   display: flex;
   flex-direction: row;
}
  .characters{
    display: flex;
    flex-direction: column;
    
  }
  .cards{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
   margin-block-end: 10px;
  }
img{
   z-index: 0;
}
    .cards .card{
   margin-block: 10px;
}
li{
font-size: 2.6vw;
background: blue;
height: 60px;
color: #000;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
transition: 1s linear;
}
li:hover{
background: black;
color:blue;
}
.news{
  display: flex;
  flex-direction: row;
flex-wrap: wrap;

}
.news-card{
width:45%;
margin-inline: 5px;
}
  input:not(input[type="submit"]), textarea{
width:30%;
  height: 50px;
border-radius: 10px;
}
form{
height: 800px;
}
input[type="submit"]{
width: 10%;
height: 50px;
}
a:visited{
color: #000;
}
a:hover{color:blue;
}
}